@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .container-page {
    left: 50%;
    margin-left: -240px;
    top: 50%;
    margin-top: -160px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  body {
    background-color: #000;
  }
  .container-page {
    padding: 15px;
    position: relative;
    min-width: 480px;
    width: 480px;
    max-width: 480px;
    min-height: 320px;
    height: 320px;
    max-height: 320px;
    box-sizing: border-box;
    background-color: #f37908;
  }
  #header-img {
    display: none;
  }
  .title {
    text-align: left;
  }
  .job {
    text-align: left;
  }
  .description {
    text-align: left;
  }
  main {
    top: 10px;
  }
  #main-img {
    display: none;
  }
  .social-container {
    display: inline-block;
    width: 33.33%;
    height: 75px;
    float: left;
  }
  .social-logo {
    background-repeat: no-repeat;
    background-size: 75px;
    height: 75px;
    width: 75px;
  }
  .info-container {
    width: 50%;
    float: left;
    margin: 5px 0;
    font-size: 15px;
  }
  footer {
    position: relative;
    width: 100%;
    bottom: 15px;
    margin-top: 127px;
  }
}
